:root{
    --desc-color: #9ca3af;
    --transparent-border: rgba(255, 255, 255, 0.2);
    --bg-color1: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgb(255, 149, 0) 100%);
    --bg-effect-red: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    --bg-effect-purple: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.header{
    font-weight: lighter;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 25px;
}

.bg-effect{
    width: 100%;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    filter: blur(100px);
}

/* Start of Nav */

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

nav{
    padding: 30px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 40px;
    border: 1px solid var(--transparent-border);
}

nav a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* End of Nav */

/* Start of Hero */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 100px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hero-container.loaded{
    opacity: 1;
    transform: translateY(0);
}

#hero-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    z-index: 10;
}

#hero-bg-effect1{
    background: var(--bg-color1);
    height: 350px;
    max-width: 800px;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: .3;
    filter: blur(100px);
    border-radius: 50%;
}

#hero-bg-effect2{
    background: var(--bg-color1);
    height: 450px;
    max-width: 750px;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: .3;
    filter: blur(100px);
    border-radius: 100px;
}

#hero-img{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}

.hero-box{
    max-width: 1440px;
    width: 100%;
}

.hero-box h1{
    font-size: 100px;
}

#hero-box1{
    display: flex;
    gap: 10px;
    align-items: center;

}

#hero-box2 h1{
    margin-left: 100px;
}

#hero-box2{
    display: flex;
    gap: 20px;
    align-items: center;
}

#hero-box3{
    display: flex;
    gap: 10px;
    align-items: center;

}

#hero-box3 h1{
    margin-left: 50px;
}

#hero-box4{
    display: flex;
    justify-content: center;
    height: 60px
}

#icons-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

#icons-container a{
    text-decoration: none;
    color: white;
}

#resume{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 2px;
    width: 100px;
}

#location{
    display: flex;
    align-items: center;
    gap: 5px;
}

#flag{
    width: 25px;
    border-radius: 2px;
}

.hero-icons:hover{
    transform: translateY(-2px);
}

.hero-icons{
    transition: 0.3s ease;
}

#location::after{
    content: 'Tokyo, Jp';
    transition: opacity 0.3s ease;
}

#location:hover::after{
    content: "こんにちは";
    font-size: 15px;
}

#about{
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease;
}

#about.hidden{
    opacity: 0;
}

#hero-box5{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of Hero */

/* Start of Experience Section */

#experience-container{
    z-index: 10;
    position: relative;
}

/* End of Experience Section */

/* Start of Projects */

.projects-container{
    z-index: 10;
    position: relative;
}

#projects-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    justify-content: center;
}

.project-box{
    width: 100%;
    height: 400px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
}

.project-img{
    width: 100%;
    border-radius: 3px 3px 0px 0px;
    height: 200px;
}

#projects-bg-effect-top-left{
    background: var(--bg-effect-purple);
    height: 450px;
    max-width: 350px;
    opacity: .3;
    left: 0%;
    bottom: -25%;
}

#projects-bg-effect-middle-right{
    background: var(--bg-effect-red);
    height: 350px;
    max-width: 350px;
    opacity: .2;
    right: 0%;
    bottom: -50%;
}

#projects-bg-effect-bottom-left{
    background: var(--bg-effect-red);
    height: 350px;
    max-width: 350px;
    opacity: .2;
    left: 0%;
}

.project-header{
    margin: 10px;
    margin-top: 20px;
}

.project-desc{
    margin: 10px;
    margin-top: 30px;
    color: var(--desc-color);
}

.project-icons-container{
    display: flex;
    gap: 8px;
    margin: 10px;
    margin-top: 30px;
    align-items: center;
}

.project-icon-box{
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(135deg, #555, #333);
    color: #eee
}

.project-arrow{
    margin-left: auto;
    padding-right: 10px;
}

.project-link{
    text-decoration: none;
    color: white;
    transition: transform 0.4s ease;
}

.project-link:hover{
    transform: translateY(-5px);
}

/* End of Projects */

/* Start of Skills */

#skills-container{
    width: 800px;
    margin: 0 auto;
    z-index: 10;
}

.skills-icons-box{
    border: 1px solid var(--transparent-border);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    gap: 5px;
}

#skills-icon-container{
    display: flex;
    gap: 10px;
}

#skills-bg-effect-bottom-right{
    background: var(--bg-effect-purple);
    height: 350px;
    max-width: 350px;
    opacity: .3;
    right: 0%;
}

/* End of Skills */

/* Start of Contact */

#contact-container{
    max-width: 800px;
    margin: 0 auto;
    z-index: 10;
}

#contact-box{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-name{
    font-size: 22px;
    margin: 10px;
}

#contact-links-container a{
    color: white;
}

#contact-links-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.contact-link-icons:hover{
    transform: translateY(-2px);
}

.contact-link-icons{
    transition: 0.3s ease;
}
/* End of Contact */

/* Start of Footer */
.footer-container{
    display: flex;
    width: 90%;
    max-width: 780px;
    justify-content: space-between;
    color: var(--desc-color);
    margin: 0 auto;
    margin-bottom: 50px;
}
/* End of Footer */

/* lg */
@media (max-width: 1024px) {
    #projects-bg-effect-top-left{
        left: -25%;
        bottom: -25%;
    }

    #projects-bg-effect-middle-right{
        right: 0%;
        bottom: -50%;
    }

    #projects-bg-effect-bottom-left{
        left: -20%;
    }

    #skills-bg-effect-bottom-right{
        right: 14%;
    }
}

@media (max-width: 789px){
    #projects-grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 50px;
        justify-content: center;
    }

    .project-box{
        width: 100%;
        height: auto;
        border: 1px solid white;
        border-radius: 5px;
        overflow: hidden;
    }

    .project-img{
        width: 100%;
        border-radius: 3px 3px 0px 0px;
        height: 400px;
    }
}

/* md */
@media (max-width: 768px) {
    .hero-box h1{
        font-size: 70px;
    }

    #hero-img{
        height: 75px;
        width: 75px;
        border: 2px solid white;
        border-radius: 50%;
    }

    .footer-container{
        margin-bottom: 10px;
    }

    .header{
        padding-bottom: 20px;
    }

    #hero-bg-effect1{
        height: 250px;
    }

    #hero-bg-effect2{
        height: 350px;
    }

    #projects-bg-effect-top-left{
        left: -25%;
        bottom: -25%;
    }

    #projects-bg-effect-middle-right{
        right: -0%;
        bottom: -60%;
    }

    #projects-bg-effect-bottom-left{
        left: -30%;
    }

    #skills-bg-effect-bottom-right{
        right: 14%;
    }

}

/* sm */
@media (max-width: 640px) {
    .hero-box h1{
        font-size: 60px;
    }

    #hero-img{
        height: 75px;
        width: 75px;
        border: 2px solid white;
        border-radius: 50%;
    }

    #hero-desc-container{
        font-size: 15px;
    }
}

@media (max-width: 630px) {
    .project-img{
        height: 300px;
    }
}

/* xs */
@media (max-width: 475px) {

    .hero-box h1{
        font-size: 40px;
    }

    #hero-img{
        height: 50px;
        width: 50px;
        border: 2px solid white;
        border-radius: 50%;
    }

    #hero-box1 h1{
        margin-left: 40px;
    }

    #hero-box2{
        margin-right: 30px;
        gap: 10px;
    }

    #hero-box3 h1{
        margin-left: 60px;
    }


}

@media (max-width: 425px) {
    .header{
        padding-top: 30px;
    }

    #hero-bg-effect1{
        background: #833AB4;
        background: linear-gradient(90deg, rgb(0, 17, 166) 0%, rgb(186, 0, 0) 50%, rgb(255, 94, 0) 100%);
        height: 150px;
        z-index: 1;
        opacity: .7;
        filter: blur(100px);
        border-radius: 0px;
    }

    #hero-bg-effect2{
        background: #833AB4;
        background: linear-gradient(90deg, rgb(106, 0, 176) 0%, rgba(253, 29, 29, 1) 50%, rgb(229, 255, 0) 100%);
        height: 200px;
        z-index: 0;
        opacity: .7;
        filter: blur(100px);
        border-radius: 0px;
    }

    #projects-bg-effect-top-left{
        left: -25%;
        bottom: -25%;
    }

    #projects-bg-effect-middle-right{
        right: -0%;
        bottom: -105%;
    }

    #projects-bg-effect-bottom-left{
        left: -50%;
    }

    #skills-bg-effect-bottom-right{
        right: 0%;
        height: 250px;
        width: 300px;
    }

    .project-img{
        height: 225px;
    }

}

@media (max-width: 375px) {
    .hero-box h1{
        font-size: 50px;
    }

    nav{
        padding: 20px;
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    .hero-box h1{
        font-size: 40px;
    }

    #hero-desc-container{
        font-size: 10px;
    }

    #hero-info-container{
        max-width: 320px;
    }

    #hero-box1 h1{
        margin-left: 30px;
    }

    #hero-box2{
        margin-right: 50px;
        gap: 10px;
    }

    #hero-box3 h1{
        margin-left: 50px;
    }

    nav{
        padding: 20px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .project-img{
        height: 200px;
    }

}