:root{
    --desc-color: #9ca3af;
    --transparent-border: rgba(255, 255, 255, 0.2);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.header{
    font-weight: lighter;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 25px;
}

/* Start of Nav */

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

nav{
    padding: 30px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 40px;
    border: 1px solid var(--transparent-border);
}

nav a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* End of Nav */

/* Start of Hero */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 100px;
}

#hero-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
}

#hero-left-circle{
    background: #3F5EFB;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    height: 550px;
    width: 250px;
    border-radius: 50%;
    z-index: 0;
    position: relative;
    opacity: .5;
    filter: blur(100px);
}

#hero-right-circle{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 250px;
    width: 550px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    opacity: .5;
    filter: blur(100px);
}

#hero-middle-circle{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 550px;
    width: 550px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    opacity: .5;
    filter: blur(100px);
}

#hero-img{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}

.hero-box{
    max-width: 1440px;
    width: 100%;
}

.hero-box h1{
    font-size: 100px;
}

#hero-box1{
    display: flex;
    gap: 10px;
    align-items: center;

}

#hero-box2 h1{
    margin-left: 100px;
}

#hero-box2{
    display: flex;
    gap: 20px;
    align-items: center;
}

#hero-box3{
    display: flex;
    gap: 10px;
    align-items: center;

}

#hero-box3 h1{
    margin-left: 50px;
}

#hero-box4{
    display: flex;
    justify-content: center;
    height: 60px
}

#icons-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

#icons-container a{
    text-decoration: none;
    color: white;
}

#resume{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 2px;
    width: 100px;
}

#location{
    display: flex;
    align-items: center;
    gap: 5px;
}

#flag{
    width: 25px;
    border-radius: 2px;
}

.hero-icons:hover{
    transform: translateY(-2px);
}

.hero-icons{
    transition: 0.3s ease;
}

#location::after{
    content: 'Tokyo, Jp';
    transition: opacity 0.3s ease;
}

#location:hover::after{
    content: "こんにちは";
    font-size: 15px;
}

#about{
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease;
}

#about.hidden{
    opacity: 0;
}

#hero-box5{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of Hero */

/* Start of Projects */

#projects-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    justify-content: center;
}

.project-box{
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
}

.project-img{
    width: 100%;
    border-radius: 3px 3px 0px 0px;
    height: 200px;
}

#projects-circle-top-left{
    background: #3F5EFB;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    height: 550px;
    width: 250px;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    opacity: .3;
    filter: blur(100px);
}

#projects-circle-bottom-left{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 250px;
    width: 550px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    opacity: .3;
    filter: blur(100px);
}

#projects-circle-top-right{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    opacity: .3;
    filter: blur(100px);
    left: 80%;
}

#projects-circle-top-left2{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    opacity: .3;
    filter: blur(100px);
}

.project-header{
    margin: 10px;
    margin-top: 20px;
}

.project-desc{
    margin: 10px;
    margin-top: 30px;
    color: var(--desc-color);
}

.project-icons-container{
    display: flex;
    gap: 8px;
    margin: 10px;
    margin-top: 30px;
    align-items: center;
}

.project-icon-box{
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(135deg, #555, #333);
    color: #eee
}

.project-arrow{
    margin-left: auto;
    padding-right: 10px;
}

.project-link{
    text-decoration: none;
    color: white;
    transition: transform 0.4s ease;
}

.project-link:hover{
    transform: translateY(-5px);
}

/* End of Projects */

/* Start of Skills */

#skills-container{
    width: 800px;
    margin: 0 auto;
}

.skills-icons-box{
    border: 1px solid var(--transparent-border);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    gap: 5px;
}

#skills-icon-container{
    display: flex;
    gap: 10px;
}

#skills-circle-bottom-right{
    background: #3F5EFB;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    opacity: .3;
    filter: blur(100px);
    left: 80%;
}

/* End of Skills */

/* Start of Contact */

#contact-container{
    max-width: 800px;
    margin: 0 auto;
}

#contact-box{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-name{
    font-size: 25px;
    margin: 10px;
}

#contact-links-container a{
    color: white;
}

#contact-links-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.contact-link-icons:hover{
    transform: translateY(-2px);
}

.contact-link-icons{
    transition: 0.3s ease;
}

/* End of Contact */

/* Start of Footer */

.footer-container{
    display: flex;
    width: 90%;
    max-width: 780px;
    justify-content: space-between;
    color: var(--desc-color);
    margin: 0 auto;
    margin-bottom: 50px;
}

/* End of Footer */

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {


    .hero-box h1{
        font-size: 70px;
    }

    #hero-img{
        height: 75px;
        width: 75px;
        border: 2px solid white;
        border-radius: 50%;
    }

    .footer-container{
        margin-bottom: 10px;
    }

    .header{
        padding-bottom: 20px;
    }

}

/* sm */
@media (max-width: 640px) {
    .hero-box h1{
        font-size: 60px;
    }

    #hero-img{
        height: 75px;
        width: 75px;
        border: 2px solid white;
        border-radius: 50%;
    }

    #hero-desc-container{
        font-size: 15px;
    }
}

@media (max-width: 630px) {
    .project-img{
        height: 300px;
    }
}

/* xs */
@media (max-width: 475px) {

    .hero-box h1{
        font-size: 40px;
    }

    #hero-img{
        height: 50px;
        width: 50px;
        border: 2px solid white;
        border-radius: 50%;
    }

    #hero-box1 h1{
        margin-left: 40px;
    }

    #hero-box2{
        margin-right: 30px;
        gap: 10px;
    }

    #hero-box3 h1{
        margin-left: 60px;
    }


}

@media (max-width: 425px) {
    .header{
        padding-top: 30px;
    }
}

@media (max-width: 375px) {
    .hero-box h1{
        font-size: 50px;
    }

    nav{
        padding: 20px;
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    .hero-box h1{
        font-size: 40px;
    }

    #hero-desc-container{
        font-size: 10px;
    }

    #hero-info-container{
        max-width: 320px;
    }

    #hero-box1 h1{
        margin-left: 30px;
    }

    #hero-box2{
        margin-right: 50px;
        gap: 10px;
    }

    #hero-box3 h1{
        margin-left: 50px;
    }

    nav{
        padding: 20px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .project-img{
        height: 200px;
    }

}